.agreement {
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: url('../../../../assets/img/login-bg.png');
    background-size: 100% 100%;
    overflow: auto;
    padding: 0 20px;
    text-align: justify;
}

.agreement>h5 {
    text-align: center;
    font-weight: bold;
}

.agreement>p {
    text-indent: 2em;
}

.agreement>p>span {
    font-weight: bold;
}

.agreement>button {
    border-radius: 5px;
    line-height: 34px;
    width: 100%;
    margin: 20px 0;
    color: #fff;
    background: linear-gradient(to right, #66c6e9, #33a0db, #1982d3, #0b70e3);
}