.index-part1 {
    padding: 20px;
    background: #03204C;
}

.index-part2 {
    position: relative;
    padding: 0 20px 20px 20px;
    background: #03204C;
}

.index-part3 {
    padding: 20px;
    background: #00032C;
}

.index-part4 {
    padding: 0 20px 20px 20px;
    background: #00032C;
    border-bottom: 1px solid #03204C;
}

.index-part5 {
    padding: 20px;
    background: #020419;
}

.index-search {
    position: relative;
}

.index-search input {
    width: 90%;
    line-height: 24px;
    background: #052B65;
    border: 1px solid #1566bb;
    border-radius: 5px;
    text-indent: 30px;
}

.index-search-input-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.index-search-input-btn {
    position: absolute;
    top: 4px;
    right: 12%;
}

.index-search-message>ion-icon {
    font-size: 26px;
    position: absolute;
    right: 0;
    top: 1px;
    color: #40b8dd;
}

.index-search-message>div {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #f00;
}

.index-info {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}

.index-info-hello {
    font-size: 18px;
    padding-bottom: 18px;
}

.index-info-location {
    font-size: 12px;
}

.index-weather {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.index-weather>img {
    height: 20px;
}

.index-weather>div {
    font-size: 12px;
}

.index-weather-text {
    margin-bottom: 2px;
}

.index-block3 {
    display: inline-block;
    width: 48%;
    border-radius: 3px;
    background: var(--root-jb);
    margin-bottom: 10px;
}

.index-part3>.index-block3:nth-child(2n) {
    float: right;
}

.index-block3-img {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 15px 0;
}

.index-block3-img>img {
    width: 30px;
    height: 30px;
}

.index-block3-text {
    display: inline-block;
    width: 60%;
    padding-top: 8px;
}

.index-block3-text>div:first-child {
    font-size: 18px;
}

.index-block3-text>div:first-child>span {
    font-size: 12px;
}

.index-block3-text>div:last-child {
    font-size: 12px;
    color: #ccc;
}

.index-block4 {
    display: inline-block;
    text-align: center;
    width: 33%;
}

.index-block4-number {
    font-size: 18px;
}

.index-block4-number>span {
    font-size: 12px;
}

.index-block4-text {
    font-size: 12px;
    color: #ccc;
}

.index-block5 {
    text-align: center;
    display: inline-block;
    width: 25%;
}

.index-block5-icon>ion-icon {
    border-radius: 100px;
    padding: 10px;
    background: var(--root-jb);
    font-size: 20px;
}

.index-block5-text {
    font-size: 12px;
    padding: 5px 0 20px 0;
}