<ion-content fullscreen="true">
    <div class="index-part1">
        <div class="index-search">
            <ion-icon name="search" class="index-search-input-icon"></ion-icon>
            <input type="text" [(ngModel)]="key" placeholder="关键字">
            <span class="index-search-input-btn" (click)="test()">搜索</span>
            <div class="index-search-message">
                <ion-icon name="mail" routerLink="/tabs/user/message"></ion-icon>
                <div></div>
            </div>
        </div>
    </div>
    <div class="index-part2">
        <div class="index-info">
            <div class="index-info-hello">{{time}}！{{veh.vno}}</div>
            <div class="index-info-location">
                <ion-icon name="location"></ion-icon>
                黑龙江省哈尔滨市平房区哈平西路45号航天科技工业园
            </div>
        </div>
        <div class="index-weather">
            <img src="../../../../assets/img/weather/03.png">
            <div class="index-weather-text">多云转晴</div>
            <div>{{date|date:'yyyy年MM月dd日'}}</div>
            <div>{{week}}</div>
        </div>
    </div>
    <div class="index-part3">
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/index-1.png">
            </div>
            <div class="index-block3-text">
                <div>{{data.days}}<span>天</span></div>
                <div>入网天数</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/index-2.png">
            </div>
            <div class="index-block3-text">
                <div>{{data.tmil/data.days/1000|number:'0.0-1'}}<span>km</span></div>
                <div>日均里程</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/index-3.png">
            </div>
            <div class="index-block3-text">
                <div>{{data.rt_urea}}<span>%</span></div>
                <div>反应剂余量</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/index-4.png">
            </div>
            <div class="index-block3-text">
                <div>{{data.rt_oil}}<span>%</span></div>
                <div>邮箱液位</div>
            </div>
        </div>
    </div>
    <div class="index-part4">
        <div class="index-block4">
            <div class="index-block4-number">{{data.tmil/1000|number:'0.0-1'}}<span>km</span></div>
            <div class="index-block4-text">总里程</div>
        </div>
        <div class="index-block4">
            <div class="index-block4-number">{{data.tut/3600|number:'0.0-1'}}<span>h</span></div>
            <div class="index-block4-text">总时长</div>
        </div>
        <div class="index-block4">
            <div class="index-block4-number">{{data.toil}}<span>L</span></div>
            <div class="index-block4-text">总油耗</div>
        </div>
    </div>
    <div class="index-part5">
        <div class="index-block5" routerLink="/tabs/home/doc">
            <div class="index-block5-icon">
                <ion-icon name="document-attach"></ion-icon>
            </div>
            <div class="index-block5-text">车辆档案</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/data">
            <div class="index-block5-icon">
                <ion-icon name="stats-chart"></ion-icon>
            </div>
            <div class="index-block5-text">行驶统计</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/alarm">
            <div class="index-block5-icon">
                <ion-icon name="notifications"></ion-icon>
            </div>
            <div class="index-block5-text">故障报警</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/repair">
            <div class="index-block5-icon">
                <ion-icon name="construct"></ion-icon>
            </div>
            <div class="index-block5-text">维修保养</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/regulation">
            <div class="index-block5-icon">
                <ion-icon name="shield"></ion-icon>
            </div>
            <div class="index-block5-text">违章</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/forum">
            <div class="index-block5-icon">
                <ion-icon name="people"></ion-icon>
            </div>
            <div class="index-block5-text">车友圈</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/rank">
            <div class="index-block5-icon">
                <ion-icon name="cellular"></ion-icon>
            </div>
            <div class="index-block5-text">排行榜</div>
        </div>
        <div class="index-block5" routerLink="/tabs/home/team">
            <div class="index-block5-icon">
                <ion-icon name="flag"></ion-icon>
            </div>
            <div class="index-block5-text">我的车队</div>
        </div>
    </div>
</ion-content>