<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="control">
            <ion-icon name="options"></ion-icon>
            <ion-label>控车</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="list">
            <div class="tab-grid-btn">
                <ion-icon name="grid"></ion-icon>
            </div>
        </ion-tab-button>
        <ion-tab-button tab="map">
            <ion-icon name="navigate"></ion-icon>
            <ion-label>地图</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="user">
            <ion-icon name="person"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>