<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>行驶统计</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <ion-segment (ionChange)="selectTab($event)" [value]="tab">
        <ion-segment-button value="1">
            <ion-label>基本数据</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
            <ion-label>统计数据</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
            <ion-label>车速分析</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div class="data-time">
        <div class="data-radio" (click)="selectTime(1)">
            <div [ngClass]="{'data-radio-active':time==1}"></div>近一周
        </div>
        <div class="data-radio" (click)="selectTime(2)">
            <div [ngClass]="{'data-radio-active':time==2}"></div>近一月
        </div>
        <div class="data-radio" (click)="selectTime(3)">
            <div [ngClass]="{'data-radio-active':time==3}"></div>近一年
        </div>
    </div>
    <div [hidden]="tab!=1">
        <div #chart11 class="data-chart"></div>
        <div #chart12 class="data-chart"></div>
        <div #chart13 class="data-chart"></div>
        <div #chart14 class="data-chart"></div>
        <div #chart15 class="data-chart"></div>
        <div #chart16 class="data-chart"></div>
        <div #chart17 class="data-chart"></div>
        <div #chart18 class="data-chart"></div>
        <div #chart19 class="data-chart"></div>
        <div #chart110 class="data-chart"></div>
        <div #chart111 class="data-chart"></div>
        <div #chart112 class="data-chart"></div>
    </div>
    <div [hidden]="tab!=2">
        <div #chart21 class="data-chart"></div>
        <div #chart22 class="data-chart"></div>
        <div #chart23 class="data-chart"></div>
        <div #chart24 class="data-chart"></div>
        <div #chart25 class="data-chart"></div>
        <div #chart26 class="data-chart"></div>
        <div #chart27 class="data-chart"></div>
    </div>
    <div [hidden]="tab!=3">
        <div #chart31 class="data-chart"></div>
        <div #chart32 class="data-chart"></div>
        <div #chart33 class="data-chart"></div>
        <div #chart34 class="data-chart"></div>
    </div>
</ion-content>