<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>我的订单</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div class="myorder-search">
        <input class="myorder-search-input" placeholder="搜索我的订单" />
        <ion-icon class="myorder-search-btn" name="search-outline"></ion-icon>
    </div>
    <div class="myorder-tabs">
        <div class="myorder-tab" [ngClass]="{'myorder-tab-select':tab==1}" (click)="tab=1">全部</div>
        <div class="myorder-tab" [ngClass]="{'myorder-tab-select':tab==2}" (click)="tab=2">待付款</div>
        <div class="myorder-tab" [ngClass]="{'myorder-tab-select':tab==3}" (click)="tab=3">待评价</div>
        <div class="myorder-tab" [ngClass]="{'myorder-tab-select':tab==4}" (click)="tab=4">售后中</div>
    </div>
    <div class="myorder-list">
        <div class="myorder-item" *ngFor="let data of list" routerLink="/tabs/my-order/my-order-info">
            <div class="myorder-title">订单号：{{data.order}}<span>{{data.state}}</span></div>
            <div class="myorder-content">
                <div>车辆品牌：{{data.vm}}</div>
                <div>车牌号码：{{data.vno}}</div>
                <div>到店时间：{{data.time}}</div>
                <div>联系人：{{data.user}}</div>
                <div>联系电话：{{data.phone}}</div>
                <div>维修项目：{{data.item}}</div>
                <div class="myorder-money">￥{{data.money}}.<small>00</small></div>
            </div>
        </div>
    </div>
</ion-content>