<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>零件选配</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div class="intentionorderparts-title">订单号：20201101133700</div>
    <div class="content1">
        <div>维修项目：换机油，换雪地胎</div>
        <div>已选配件：机油，机油滤，雪地胎</div>
    </div>
    <div class="content1">
        <div *ngFor="let data of list">
            <div>{{data.name}}</div>
            <ion-grid>
                <ion-row>
                    <ion-col size="3" *ngFor="let d of data.list" (click)="d.select=!d.select">
                        <div class="intentionorderparts-parts" [ngClass]="{'intentionorderparts-parts-select':d.select}">
                            <ion-icon name="{{d.icon}}"></ion-icon>
                            <div class="intentionorderparts-parts-name">{{d.name}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="intentionorderparts-footer">
        <span class="intentionorderparts-money">合计：￥500.<small>00</small></span>
        <div class="btn1 intentionorderparts-save-btn">确认选择</div>
    </div>
</ion-content>