.intentionorderinfo-title {
    padding: 10px 20px;
    color: var(--root-border-color);
    font-size: 12px;
}

.intentionorderinfo-content {
    position: relative;
    padding: 15px 20px;
    line-height: 24px;
    background: var(--root-component-background-color);
    margin-bottom: 10px;
}

.intentionorderinfo-parts {
    position: absolute;
    top: 12px;
    right: 20px;
    background: var(--root-border-color);
    border-radius: 50px;
    padding: 0 6px;
}

.intentionorderinfo-parts ion-icon {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.intentionorderinfo-content-title {
    margin-bottom: 8px;
}

.intentionorderinfo-content-indent {
    text-indent: 1.5em;
}

.intentionorderinfo-content-indent>div>span {
    float: right;
}

.intentionorderinfo-content-input {
    background: var(--root-component-background-color);
    border: 1px solid var(--root-border-color);
    width: 60px;
    height: 24px;
    border-radius: 5px;
    text-align: right;
    padding: 0 5px;
}

.intentionorderinfo-call {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    border: 1px solid var(--root-border-color);
    color: var(--root-border-color);
    text-decoration: none;
    padding: 0 10px;
}

.intentionorderinfo-call ion-icon {
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.intentionorderinfo-money {
    text-align: right;
    color: orange;
    font-size: 18px;
    margin-top: 10px;
}

.intentionorderinfo-evaluate {
    text-align: center;
    background: var(--root-border-color);
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 50%;
    padding: 3px 0;
    width: 50%;
}

ion-toggle {
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}