.intentionorderinfo-title {
    padding: 10px 20px;
    color: var(--root-border-color);
    font-size: 12px;
}

.intentionorderinfo-parts-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: initial;
    padding: 3px 6px;
}

.intentionorderinfo-content-title {
    margin-bottom: 8px;
}

.intentionorderinfo-content-indent {
    text-indent: 1.5em;
}

.intentionorderinfo-content-indent>div>span {
    float: right;
}

.intentionorderinfo-content-input {
    width: 60px;
    text-align: right;
}

.intentionorderinfo-money {
    text-align: right;
    color: orange;
    font-size: 18px;
    margin-top: 10px;
}

ion-toggle {
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    padding: 0;
}

.intentionorderinfo-queue-input {
    background: var(--root-component-background-color);
    border: 1px solid var(--root-border-color);
    width: 40px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
}

.intentionorderinfo-footer {
    position: fixed;
    bottom: 0;
    padding: 10px 15px;
    width: 100%;
    background: var(--root-component-background-color);
    border-top: 1px solid var(--root-border-color);
}

.intentionorderinfo-save-btn {
    margin-left: 60%;
}