<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>附近</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div #map class="map"></div>
    <div class="map-btn map-btn-back" (click)="goBack()">
        <ion-icon name="navigate"></ion-icon>
    </div>
    <div class="map-btn map-btn-big" (click)="big()">
        <ion-icon name="add"></ion-icon>
    </div>
    <div class="map-btn map-btn-small" (click)="small()">
        <ion-icon name="remove"></ion-icon>
    </div>
    <div class="map-title">附近车辆：{{dataTotal}}辆</div>
    <div class="map-list">
        <div class="map-item" *ngFor="let data of dataList" routerLink="/tabs/map/order/1">
            <div class="map-img">
                <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=138199696,3331713252&fm=26&gp=0.jpg">
            </div>
            <div class="map-content">
                <div>{{data.c_id}}</div>
                <div class="map-score">
                    <div class="map-stars-left">健康评分：</div>
                    <div class="map-stars">
                        <div class="map-stars-bg-back"></div>
                        <div class="map-stars-bg-front" [ngStyle]="{'right':data.c_vst+'%'}"></div>
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                    </div>
                    <div class="map-stars-right">1.2分</div>
                </div>
                <div class="map-info">
                    故障预测：胎压异常<span>1.2km</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>